body{font-size: 20px; }

.principal{text-align: center;
background-color: gray;}

.alinhar{text-align: center;}

.destaque{color: red;}

.imagem{width: 100%;}

.lista{ display: inline-block;
vertical-align: tops;}

.imagem_beneficio{width: 50%;}

.titulo-principal{padding-left: 20px;}
